li >span,
li > img{
    cursor:pointer ;
}
* {
    box-sizing: border-box;
}
#header{
  font-size: 50px;
  font-family: 'MuseoModerno', cursive;
  text-shadow: 2px 7px 5px rgba(59, 59, 59, 0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
}

  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background:  rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
      
} 
ul li {
    margin-top: -1px; /* Prevent double borders */
    padding: 12px;
    color: white;
    
    
}
.button-1{
    background:  rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
    
}
#add,
#search{
    padding: 0;
    margin: 0;
    background:  rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 30px;
    

}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(255, 255, 255);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(255, 255, 255);
}
input{
    text-indent: 10px;
    opacity: 50%;
}
p{
    color: white;
    font-family: 'MuseoModerno', cursive;  
}
a{
    color: whitesmoke;
    text-decoration: none !important;
}
a:hover{
    transition: 1s;
    color: #4d32e9;
    
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    
  }